.form-container {
  background: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.3);
}
.single-field {
  display: flex;
  /* justify-content: ; */
  align-items: center;
  margin: 10px;
  width: 100%;
}
.single-field label {
  text-transform: capitalize;
  width: 10%;
}

.single-field .form {
  width: 80%;
  padding: 8px;
  font-size: 16px;
}

.single-field button {
  margin-left: 20px;
}
