.form-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: white;
  height: 80%;
  width: 70%;
  margin: 10px;
}

.modal-header {
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
  padding: 0px 10px;
}

.modal-header h2 {
  font-size: 18px;
}

.modal-header .close-btn {
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-body {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.modal-fields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.modal-body-field {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  flex-wrap: wrap;
  width: calc(50% - 20px);
}

.modal-body-field .label-form {
  display: flex;
}

.label-form label {
  width: 100px;
}
.modal-body-field .field-form {
  width: calc(100% - 20px);
}

.modal-btn {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}
.modal-btn button {
  width: 100px;
}
.addValues-container .addForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.addValues-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.single-addForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: calc(50% - 20px);
}
.single-addForm > div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.addValues-container input {
  width: 90%;
}

.addValues-container button {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.addValues-container .add {
  width: 100px;
  height: 40px;
}
.minMax-container {
  display: flex;
}
.single-minmax {
  width: 40%;
  padding: 10px;
}

.single-minmax input {
  width: fit-content;
}
