body {
  font-family: sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
button {
  cursor: pointer;
  margin: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  transition: transform 0.3s ease;
  text-transform: capitalize;
}
button.danger {
  background-color: red;
}

button.save,
button.add {
  background-color: green;
}
button:hover {
  opacity: 0.8;
}
button:active {
  transform: scale(1.05);
}
.err-msg {
  color: red;
  font-size: 12px;
}
input,
select,textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid grey;
  font-size: 15px;
  border-radius: 5px;
}

select option {
  padding: 5px;
  text-transform: capitalize;
}

.checkbox-container,
.radio-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.checkbox-form,
.radio-form {
  display: flex;
  width: 80%;
}
.checkbox-form input,
.radio-form input {
  width: 10%;
}

.checkbox-form label,
.radio-form label {
  width: 90% !important;
}
